table{
    border-collapse:collapse;
    width:95%;
  }
  th{
    text-align:center;
    color:white;
    font-size:50px;
  }
  img{
    padding-right:0.1px;
    padding-left:30px;
    width:100px;
    padding:30px;
  }
  h1{
    color:white;
    font-size:40px;
    line-height:0.001;
    padding-right:50px;
  }
  b{
    font-size:20px;
  }
  h5{
    color:white;  
    line-height:1;
  }
  td
  {
    color:white;
    border-left:none;
    border-right:none;
    border-top:none;
    border-bottom-color:grey;
    
  }